.react-autosuggest__container {
    width: 180px;
    position: relative;
}

.autosuggest-cell {
    width: 181px;
}

.text-cell {
    width: 300px;
}

.qty {
    width: 45px;
}

.qty-textbox {
    width: 40px;
}

#total-caption {

    padding-top: 25px;
    font-weight: bold;
    font-size: 16px;
    caption-side: bottom;
    text-align: right;
}


.react-autosuggest__input {
    width: 180px;
    height: 30px;
    font-family: Helvetica, sans-serif;
    font-weight: 300;
    font-size: 16px;
    border: 1px solid #aaa;
    border-radius: 4px;
}

.react-autosuggest__input:focus {
    outline: none;
}

.react-autosuggest__container--open .react-autosuggest__input {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.react-autosuggest__suggestions-container {
    display: none;
}

.react-autosuggest__container--open .react-autosuggest__suggestions-container {
    display: block;
    position: absolute;
    width: 180px;
    border: 1px solid #aaa;
    background-color: #fff;
    font-family: Helvetica, sans-serif;
    font-weight: 300;
    font-size: 16px;
    border-radius: 4px;
    z-index: 2;
}

.react-autosuggest__suggestions-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.react-autosuggest__suggestion {
    text-align: left;
    cursor: pointer;
    padding: 10px 20px;
}

.react-autosuggest__suggestion--focused {
    background-color: #ddd;
}

#app {
    margin-bottom: 10px;
}

#order-form {
    width: 100%;
    margin: auto;
}

#order-form td, #order-form th {
    border-left: none !important;
    border-right: none !important;
}

#order-form th {
    border-top: 3px solid;
    border-bottom: 3px solid;
}

#cart-btn, #bulk-add {
    background-image: linear-gradient(to bottom, #FF0000 0, #9C0101 100%) !important;
    border: none !important;
}

#cart-btn:hover, #bulk-add {
    background-color: #9C0101 !important;
}

#cart-btn {
    width: 150px;
}

tr td:first-child, tr td:last-child {
    width: 6%
}

#buttons-block {
    width: 20%;
    margin: auto;
    margin-top: 20px;
    text-align: center;
}

#buttons-block button {
    margin-bottom: 5px;
}

.thumb {
    display: none;
    float: left;
    position: absolute;
    left: 100px;
    z-index: 4;
}

#showthumb {
    float: left;
    display: block;
    width: 50px;
    height: auto;
}

.skuimg {
    float: left;
    display: block;
    width: 50px;
    height: auto;
}

.skuthumb {
    width: auto;
    height: auto;
}

#showthumb:hover + .thumb {
    display: block;
}

#print-table {
    display: none;
}
