<!DOCTYPE html>
<html>
<head>
    <title>Taipan Canada</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="description" content=""/>
    <meta name="keywords"
          content="taipan, taipan abrasives, taipan original, taipan platinum, weldclass canada, weldclass, weldclass welding, welding supplies, Abrasives, Grinding Discs, Cutting Discs, Flap Discs, Carbide Burrs, Drill Bits, Sanding Discs, Mig consumables, contact tips, mig torch, tig, plasma "/>


    <meta http-equiv="Content-Script-Type" content="text/javascript"/>
    <meta http-equiv="Content-Style-Type" content="text/css"/>
    <link href="//fonts.googleapis.com/css?family=Titillium+Web:400,900,700,600" rel="stylesheet" type="text/css">

    <link rel="shortcut icon" href="http://cdn6.bigcommerce.com/s-2e83t/product_images/favicon-2.ico?t=1473262932"/>
    <!-- begin: js page tag -->
    <script language="javascript" type="text/javascript">//<![CDATA[
        (function () {
            // this happens before external dependencies (and dom ready) to reduce page flicker
            var node, i;
            for (i = window.document.childNodes.length; i--;) {
                node = window.document.childNodes[i];
                if (node.nodeName == 'HTML') {
                    node.className += ' javascript';
                }
            }
        })();
        //]]></script>
    <!-- end: js page tag -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css"
          integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">


    <link href="http://cdn5.bigcommerce.com/r-51cf31f6fa157a3deaf6806f94dd5e7365e2e3ab/themes/__master/Styles/styles.css"
          type="text/css" rel="stylesheet"/>
    <link href="http://cdn5.bigcommerce.com/s-2e83t/templates/__custom/Styles/styles.css?t=1479224041" media="all"
          type="text/css" rel="stylesheet"/>
    <link href="http://cdn5.bigcommerce.com/s-2e83t/templates/__custom/Styles/iselector.css?t=1479224041" media="all"
          type="text/css" rel="stylesheet"/>
    <link href="http://cdn5.bigcommerce.com/s-2e83t/templates/__custom/Styles/flexslider.css?t=1479224041" media="all"
          type="text/css" rel="stylesheet"/>
    <link href="http://cdn5.bigcommerce.com/s-2e83t/templates/__custom/Styles/slide-show.css?t=1479224041" media="all"
          type="text/css" rel="stylesheet"/>
    <link href="http://cdn5.bigcommerce.com/s-2e83t/templates/__custom/Styles/styles-slide-show.css?t=1479224041"
          media="all" type="text/css" rel="stylesheet"/>
    <link href="http://cdn5.bigcommerce.com/s-2e83t/templates/__custom/Styles/social.css?t=1479224041" media="all"
          type="text/css" rel="stylesheet"/>
    <link href="http://cdn5.bigcommerce.com/s-2e83t/templates/__custom/Styles/dark.css?t=1479224041" media="all"
          type="text/css" rel="stylesheet"/>
    <link href="http://cdn5.bigcommerce.com/s-2e83t/templates/__custom/Styles/theme.css?t=1479224041" media="all"
          type="text/css" rel="stylesheet"/>
    <link href="http://cdn5.bigcommerce.com/s-2e83t/templates/__custom/Styles/custom.css?t=1479224041" type="text/css"
          rel="stylesheet"/>
    <link href="http://cdn5.bigcommerce.com/r-70b9363cf5fad9b5c159273d431ac673ea2b8712/javascript/superfish/css/store.css"
          type="text/css" rel="stylesheet"/>
    <link type="text/css" rel="stylesheet"
          href="http://cdn5.bigcommerce.com/r-70b9363cf5fad9b5c159273d431ac673ea2b8712/javascript/jquery/plugins/imodal/imodal.css?91f1a"/>

    <!-- Tell the browsers about our RSS feeds -->
    <link rel="alternate" type="application/rss+xml" title="Latest News (RSS 2.0)"
          href="http://taipancanada.com/rss.php?action=newblogs&amp;type=rss"/>
    <link rel="alternate" type="application/atom+xml" title="Latest News (Atom 0.3)"
          href="http://taipancanada.com/rss.php?action=newblogs&amp;type=atom"/>
    <link rel="alternate" type="application/rss+xml" title="New Products (RSS 2.0)"
          href="http://taipancanada.com/rss.php?type=rss"/>
    <link rel="alternate" type="application/atom+xml" title="New Products (Atom 0.3)"
          href="http://taipancanada.com/rss.php?type=atom"/>
    <link rel="alternate" type="application/rss+xml" title="Popular Products (RSS 2.0)"
          href="http://taipancanada.com/rss.php?action=popularproducts&amp;type=rss"/>
    <link rel="alternate" type="application/atom+xml" title="Popular Products (Atom 0.3)"
          href="http://taipancanada.com/rss.php?action=popularproducts&amp;type=atom"/>


    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,900,700italic,400italic|Oswald:400,700"
          rel="stylesheet" type="text/css">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script type="text/javascript"
            src="http://cdn6.bigcommerce.com/r-70b9363cf5fad9b5c159273d431ac673ea2b8712/javascript/menudrop.js?"></script>
    <script type="text/javascript"
            src="http://cdn6.bigcommerce.com/r-70b9363cf5fad9b5c159273d431ac673ea2b8712/javascript/iselector.js?"></script>
    <script type="text/javascript"
            src="http://cdn6.bigcommerce.com/r-70b9363cf5fad9b5c159273d431ac673ea2b8712/javascript/jquery/plugins/jquery.flexslider.js"></script>
    <script src="http://cdn6.bigcommerce.com/r-70b9363cf5fad9b5c159273d431ac673ea2b8712/javascript/viewport.js?"></script>

    <!-- Template bespoke js -->
    <script type="text/javascript"
            src="http://cdn6.bigcommerce.com/r-2f0310c7f1a16f167417815e193c159bd0a69dbc/themes/GreaseMonkey/js/common.js"></script>
    <script type="text/javascript"
            src="http://cdn6.bigcommerce.com/r-2f0310c7f1a16f167417815e193c159bd0a69dbc/themes/GreaseMonkey/js/jquery.autobox.js"></script>
    <script type="text/javascript"
            src="http://cdn6.bigcommerce.com/r-2f0310c7f1a16f167417815e193c159bd0a69dbc/themes/GreaseMonkey/js/init.js"></script>
    <script type="text/javascript"
            src="http://cdn6.bigcommerce.com/r-2f0310c7f1a16f167417815e193c159bd0a69dbc/themes/GreaseMonkey/js/jquery.uniform.min.js"></script>
    <script type="text/javascript"
            src="http://cdn6.bigcommerce.com/r-2f0310c7f1a16f167417815e193c159bd0a69dbc/themes/GreaseMonkey/js/main.js?"></script>

    <script type="text/javascript">
        //<![CDATA[
        config.ShopPath = 'http://taipancanada.com';
        config.AppPath = ''; // BIG-8939: Deprecated, do not use.
        config.FastCart = 1;
        config.ShowCookieWarning = !!0;
        var ThumbImageWidth = 195;
        var ThumbImageHeight = 195;
        //]]>
    </script>
    <script type="text/javascript"
            src="http://cdn5.bigcommerce.com/r-70b9363cf5fad9b5c159273d431ac673ea2b8712/javascript/jquery/plugins/jquery.form.js?91f1a"></script>
    <script type="text/javascript"
            src="http://cdn5.bigcommerce.com/r-70b9363cf5fad9b5c159273d431ac673ea2b8712/javascript/jquery/plugins/imodal/imodal.js?91f1a"></script>


    <script type="text/javascript"
            src="http://cdn5.bigcommerce.com/r-70b9363cf5fad9b5c159273d431ac673ea2b8712/javascript/quicksearch.js"></script>

</head>

<body>
<div id="Container">
    <div class="container header">
        <div id="AjaxLoading"><img
                    src="http://cdn5.bigcommerce.com/s-2e83t/templates/__custom/images/ajax-loader.gif?t=1479224041"
                    alt=""/>&nbsp; Loading... Please wait...
        </div>

        <div id="TopMenu">
            <div class="Center">
                <ul>

                    <li id="StorePhoneNumber2">
                        <div class="phoneIcon">Call Toll Free 1.855.461.6293</div>
                    </li>

                    <li style="" class="HeaderLiveChat"></li>

                    <!--Quick order customization: Start-->
                    <li class="quick-order">
                        <script type="text/javascript">
                            var GlobalFname = "Guest";

                            if (GlobalFname != "" && GlobalFname != "Guest") {
                                $('li.quick-order').html('<a href="http://taipancanada.com/quick-order.html">Quick order</a>');
                            } else {
                                $('li.quick-order').html('<a href="http://taipancanada.com/login.php">Please log in for quick order</a>');
                            }
                        </script>
                    </li>
                    <!--Quick order customization: End-->


                    <li style="display:" class="First">
                        <a href="http://taipancanada.com/account.php">My Account</a>
                    </li>

                    <li class="login-register">
                        <script type="text/javascript">
                            var GlobalFname = "Guest";

                            if (GlobalFname != "" && GlobalFname != "Guest") {
                                $('li.login-register').html('<a href="http://taipancanada.com/login.php?action=logout">Log out</a>');
                            } else {
                                $('li.login-register').html('<a href="http://taipancanada.com/login.php">Log in</a>');

                            }

                        </script>
                    </li>


                    <li class="last CartLink" style="display:">

                        <script type="text/javascript">

                            if (GlobalFname != "" && GlobalFname != "Guest") {
                                $('li.CartLink').html('<i class="icon" title="View Cart">&nbsp;</i><a href="http://taipancanada.com/cart.php" title="View Cart"><span>Items / $0.00</span></a>');
                            } else {

                            }
                            ;
                        </script>

                    </li>

                </ul>
            </div>
        </div>

        <div class="Center">
            <div id="Header" class="clearfix">
                <div id="Logo"><a href="http://taipancanada.com/"><img
                                src="http://cdn6.bigcommerce.com/s-2e83t/product_images/taipan_north_america_logo_1468525202__55257.png"
                                border="0" id="LogoImage" alt="Taipan Canada"/></a>
                </div>
                <div class="right">
                    <div id="SearchForm">
                        <form action="http://taipancanada.com/search.php" method="get"
                              onsubmit="return check_small_search_form()">
                            <label for="search_query">Search</label>
                            <input type="text" name="search_query" id="search_query" class="Textbox autobox"
                                   value="Search"/>
                            <input type="submit" class="Button" value="" name="Search" title="Search"/>
                        </form>
                    </div>
                    <script type="text/javascript">
                        var QuickSearchAlignment = 'right';
                        var QuickSearchWidth = '390px';
                        lang.EmptySmallSearch = "You forgot to enter some search keywords.";
                    </script>

                </div>
                <div class="Block Panel PageMenu">
                    <div class="CategoryList" id="SideCategoryList">
                        <h3>Categories</h3>
                        <div class="BlockContent">
                            <div class="SideCategoryListFlyout">
                                <ul class="sf-menu sf-horizontal">
                                    <li><a href="http://taipancanada.com/taipan-products/">TAIPAN ABRASIVES</a>
                                        <ul>
                                            <li>
                                                <a href="http://taipancanada.com/categories/taipan-abrasive-cutting-tools/cutting-discs.html">CUTTING
                                                    DISCS</a></li>
                                            <li>
                                                <a href="http://taipancanada.com/abrasives-cutting-tools/grinding-discs/">GRINDING
                                                    DISCS</a></li>
                                            <li><a href="http://taipancanada.com/taipan-products/flap-discs/">FLAP
                                                    DISCS</a></li>
                                            <li><a href="http://taipancanada.com/taipan-products/wire-brushes/">WIRE
                                                    BRUSHES</a></li>
                                            <li><a href="http://taipancanada.com/taipan-products/saw-wheels/">SAW
                                                    WHEELS</a></li>
                                            <li>
                                                <a href="http://taipancanada.com/categories/abrasive-cutting-tools/flap-wheel.html">FLAP
                                                    WHEELS</a></li>
                                            <li><a href="http://taipancanada.com/taipan-products/fibre-discs/">FIBRE
                                                    DISCS</a></li>
                                            <li><a href="http://taipancanada.com/taipan-products/carbide-burrs/">CARBIDE
                                                    BURRS</a></li>
                                            <li><a href="http://taipancanada.com/taipan-products/annular-cutters/">ANNULAR
                                                    CUTTERS</a></li>
                                            <li>
                                                <a href="http://taipancanada.com/categories/abrasive-cutting-tools/surface-conditioning-non-woven-products.html">SURFACE
                                                    CONDITIONING</a></li>
                                            <li>
                                                <a href="http://taipancanada.com/categories/taipan-abrasives/deburring-wheels.html">DEBURRING
                                                    WHEELS</a></li>
                                            <li>
                                                <a href="http://taipancanada.com/categories/abrasive-cutting-tools/fibre-discs/quick-change-discs.html">QUICK
                                                    CHANGE DISCS</a></li>
                                            <li>
                                                <a href="http://taipancanada.com/categories/abrasive-cutting-tools/grinding-discs/mounted-points.html">MOUNTED
                                                    POINTS</a></li>
                                            <li><a href="http://taipancanada.com/taipan-products/drill-bits/">DRILL
                                                    BITS</a></li>
                                            <li>
                                                <a href="http://taipancanada.com/categories/abrasive-cutting-tools/deburring-wheels/non-woven-hand-pads.html">HAND
                                                    PADS</a></li>
                                            <li>
                                                <a href="http://taipancanada.com/categories/abrasive-cutting-tools/fibre-discs/accessories.html">ACCESSORIES</a>
                                                <ul>
                                                    <li>
                                                        <a href="http://taipancanada.com/categories/abrasive-cutting-tools/accessories/mandrels.html">MANDRELS</a>
                                                    </li>
                                                    <li>
                                                        <a href="http://taipancanada.com/categories/abrasive-cutting-tools/accessories/power-tools.html">POWER
                                                            TOOLS</a></li>

                                                </ul>
                                            </li>

                                        </ul>
                                    </li>
                                    <li><a href="http://taipancanada.com/categories/welding-products.html">WELDING
                                            CONSUMABLES</a>
                                        <ul>
                                            <li>
                                                <a href="http://taipancanada.com/categories/welding-products/mig-torches.html">MIG
                                                    TORCHES</a>
                                                <ul>
                                                    <li>
                                                        <a href="http://taipancanada.com/categories/welding-products/mig-torches/bernard-style.html">BERNARD
                                                            STYLE</a></li>
                                                    <li>
                                                        <a href="http://taipancanada.com/categories/welding-products/mig-torches/parweld-xp8.html">PARWELD
                                                            XP8</a></li>
                                                    <li>
                                                        <a href="http://taipancanada.com/categories/welding-consumables/mig-torches/tregaskiss-style.html">TREGASKISS
                                                            STYLE</a></li>
                                                    <li>
                                                        <a href="http://taipancanada.com/categories/welding-products/mig-torches/tweco-style.html">TWECO
                                                            STYLE</a></li>

                                                </ul>
                                            </li>
                                            <li>
                                                <a href="http://taipancanada.com/categories/welding-products/mig-consumables.html">MIG
                                                    CONSUMABLES</a>
                                                <ul>
                                                    <li>
                                                        <a href="http://taipancanada.com/categories/welding-products/mig-consumables/contact-tips.html">CONTACT
                                                            TIPS</a>
                                                        <ul>
                                                            <li>
                                                                <a href="http://taipancanada.com/categories/welding-products/mig-consumables/contact-tips/bernard.html">BERNARD</a>
                                                            </li>
                                                            <li>
                                                                <a href="http://taipancanada.com/categories/welding-products/mig-consumables/contact-tips/miller.html">MILLER</a>
                                                            </li>
                                                            <li>
                                                                <a href="http://taipancanada.com/categories/welding-products/mig-consumables/contact-tips/tregaskiss.html">TREGASKISS</a>
                                                            </li>
                                                            <li>
                                                                <a href="http://taipancanada.com/categories/welding-products/mig-consumables/contact-tips/tweco.html">TWECO</a>
                                                            </li>

                                                        </ul>
                                                    </li>
                                                    <li>
                                                        <a href="http://taipancanada.com/categories/welding-consumables/mig-consumables/diffusers-retaining-heads.html">DIFFUSERS
                                                            / RETAINING HEADS</a></li>
                                                    <li>
                                                        <a href="http://taipancanada.com/categories/welding-products/mig-consumables/liners.html">LINERS</a>
                                                        <ul>
                                                            <li>
                                                                <a href="http://taipancanada.com/categories/welding-products/mig-consumables/liners/bernard.html">BERNARD</a>
                                                            </li>
                                                            <li>
                                                                <a href="http://taipancanada.com/categories/welding-products/mig-consumables/liners/tregaskiss.html">TREGASKISS</a>
                                                            </li>
                                                            <li>
                                                                <a href="http://taipancanada.com/categories/welding-products/mig-consumables/liners/tweco.html">TWECO</a>
                                                            </li>

                                                        </ul>
                                                    </li>
                                                    <li>
                                                        <a href="http://taipancanada.com/categories/welding-products/mig-consumables/nozzles.html">NOZZLES</a>
                                                        <ul>
                                                            <li>
                                                                <a href="http://taipancanada.com/categories/welding-products/mig-consumables/nozzles/bernard.html">BERNARD</a>
                                                            </li>
                                                            <li>
                                                                <a href="http://taipancanada.com/categories/welding-products/mig-consumables/nozzles/tregaskiss-nozzles.html">TREGASKISS</a>
                                                            </li>
                                                            <li>
                                                                <a href="http://taipancanada.com/categories/welding-products/mig-consumables/nozzles/tweco.html">TWECO</a>
                                                            </li>

                                                        </ul>
                                                    </li>
                                                    <li>
                                                        <a href="http://taipancanada.com/categories/welding-products/mig-consumables/power-cable.html">POWER
                                                            CABLE</a>
                                                        <ul>
                                                            <li>
                                                                <a href="http://taipancanada.com/categories/welding-products/mig-consumables/power-cable/bernard.html">BERNARD</a>
                                                            </li>
                                                            <li>
                                                                <a href="http://taipancanada.com/categories/welding-products/mig-consumables/power-cable/tregaskiss.html">TREGASKISS</a>
                                                            </li>
                                                            <li>
                                                                <a href="http://taipancanada.com/categories/welding-products/mig-consumables/power-cable/tweco.html">TWECO</a>
                                                            </li>

                                                        </ul>
                                                    </li>

                                                </ul>
                                            </li>
                                            <li>
                                                <a href="http://taipancanada.com/categories/welding-products/mig-accessories.html">MIG
                                                    ACCESSORIES</a>
                                                <ul>
                                                    <li>
                                                        <a href="http://taipancanada.com/categories/welding-products/mig-accessories/bernard.html">BERNARD</a>
                                                    </li>
                                                    <li>
                                                        <a href="http://taipancanada.com/categories/welding-products/mig-accessories/tregaskiss.html">TREGASKISS</a>
                                                    </li>
                                                    <li>
                                                        <a href="http://taipancanada.com/categories/welding-products/mig-accessories/tweco.html">TWECO</a>
                                                    </li>

                                                </ul>
                                            </li>
                                            <li>
                                                <a href="http://taipancanada.com/categories/welding-products/tig-torches.html">TIG
                                                    TORCHES</a>
                                                <ul>
                                                    <li>
                                                        <a href="http://taipancanada.com/categories/welding-products/tig-torches/tig-torch-head-body.html">TIG
                                                            TORCH HEAD / BODY</a></li>

                                                </ul>
                                            </li>
                                            <li><a href="http://taipancanada.com/categories/tig-consumables.html">TIG
                                                    CONSUMABLES</a></li>
                                            <li>
                                                <a href="http://taipancanada.com/categories/welding-products/tig-accessories.html">TIG
                                                    ACCESSORIES</a></li>
                                            <li>
                                                <a href="http://taipancanada.com/categories/welding-products/gas-hose-accessories.html">GAS
                                                    HOSE / ACCESSORIES</a></li>
                                            <li>
                                                <a href="http://taipancanada.com/categories/all-products/gas-welding-cutting-tips.html">GAS
                                                    WELDING</a>
                                                <ul>
                                                    <li>
                                                        <a href="http://taipancanada.com/categories/welding-products/gas-welding-cutting-tips/welding-nozzle.html">NOZZLES</a>
                                                    </li>

                                                </ul>
                                            </li>
                                            <li>
                                                <a href="http://taipancanada.com/categories/welding-products/quick-connects-flashback-arrestors.html">QUICK
                                                    CONNECTS</a></li>
                                            <li>
                                                <a href="http://taipancanada.com/categories/welding-products/regulators.html">REGULATORS</a>
                                            </li>
                                            <li>
                                                <a href="http://taipancanada.com/categories/welding-products/plasma-consumables.html">PLASMA
                                                    CONSUMABLES</a></li>
                                            <li>
                                                <a href="http://taipancanada.com/categories/welding-consumables/wire-electrode.html">WIRE
                                                    / ELECTRODE</a></li>
                                            <li>
                                                <a href="http://taipancanada.com/categories/welding-tools-accessories.html">TOOLS
                                                    / ACCESSORIES</a>
                                                <ul>
                                                    <li>
                                                        <a href="http://taipancanada.com/categories/welding-products/welding-tools-accessories/flint-strikers.html">FLINT
                                                            STRIKERS</a></li>
                                                    <li>
                                                        <a href="http://taipancanada.com/categories/welding-products/welding-supplies-and-consumables/ground-clamps.html">GROUND
                                                            CLAMPS</a></li>
                                                    <li>
                                                        <a href="http://taipancanada.com/categories/welding-products/welding-tools-accessories/hammers.html">HAMMERS</a>
                                                    </li>
                                                    <li>
                                                        <a href="http://taipancanada.com/categories/welding-products/welding-tools-accessories/mig-pliers.html">MIG
                                                            PLIERS</a></li>
                                                    <li>
                                                        <a href="http://taipancanada.com/categories/welding-products/welding-tools-accessories/soap-stone.html">SOAP
                                                            STONE</a></li>
                                                    <li>
                                                        <a href="http://taipancanada.com/categories/welding-products/welding-supplies-and-consumables/electrode-holders.html">ELECTRODE
                                                            HOLDERS</a></li>
                                                    <li>
                                                        <a href="http://taipancanada.com/categories/welding-products/welding-supplies-and-consumables/cable-connectors.html">CABLE
                                                            CONNECTORS</a></li>
                                                    <li>
                                                        <a href="http://taipancanada.com/categories/welding-products/welding-supplies-and-consumables/accessories.html">ACCESSORIES</a>
                                                    </li>

                                                </ul>
                                            </li>
                                            <li>
                                                <a href="http://taipancanada.com/categories/welding-products/welding-cable-accessories.html">CABLE
                                                    / ACCESSORIES</a>
                                                <ul>
                                                    <li>
                                                        <a href="http://taipancanada.com/categories/welding-products/welding-supplies-and-consumables/cable-lugs.html">CABLE
                                                            LUGS</a></li>

                                                </ul>
                                            </li>
                                            <li><a href="http://taipancanada.com/categories/electrode-carbons.html">GOUGING
                                                    CARBONS</a></li>
                                            <li>
                                                <a href="http://taipancanada.com/categories/welding-products/chemicals.html">CHEMICALS</a>
                                            </li>

                                        </ul>
                                    </li>
                                    <li><a href="http://taipancanada.com/categories/welding-safety.html">WELDING
                                            SAFETY</a>
                                        <ul>
                                            <li><a href="http://taipancanada.com/categories/aprons-spats.html">APRONS
                                                    / SPATS</a></li>
                                            <li>
                                                <a href="http://taipancanada.com/categories/welding-safety/hoods.html">HOODS</a>
                                            </li>
                                            <li>
                                                <a href="http://taipancanada.com/categories/helmets.html">HELMETS</a>
                                            </li>
                                            <li><a href="http://taipancanada.com/categories/glasses.html">EYE
                                                    PROTECTION</a></li>
                                            <li><a href="http://taipancanada.com/categories/screens-curtains.html">SCREENS
                                                    / CURTAINS</a></li>
                                            <li><a href="http://taipancanada.com/categories/lenses.html">LENSES</a>
                                            </li>
                                            <li><a href="http://taipancanada.com/categories/gloves.html">GLOVES</a>
                                            </li>
                                            <li>
                                                <a href="http://taipancanada.com/categories/welding-safety/welding-jackets.html">WELDING
                                                    JACKETS</a></li>

                                        </ul>
                                    </li>
                                    <li><a href="http://taipancanada.com/categories/polishing-products.html">POLISHING
                                            PRODUCTS</a>
                                        <ul>
                                            <li>
                                                <a href="http://taipancanada.com/categories/polishing-products/airway-buffing-wheels.html">BUFFING
                                                    WHEELS - AIRWAY</a></li>
                                            <li>
                                                <a href="http://taipancanada.com/categories/polishing-products/loose-buffing-wheel.html">BUFFING
                                                    WHEELS - LOOSE</a></li>
                                            <li>
                                                <a href="http://taipancanada.com/categories/polishing-products/sewn-buffing-wheels.html">BUFFING
                                                    WHEELS - SEWN</a></li>
                                            <li>
                                                <a href="http://taipancanada.com/categories/polishing-products/buffing-wheels-sisal.html">BUFFING
                                                    WHEELS - SISAL</a></li>
                                            <li>
                                                <a href="http://taipancanada.com/categories/polishing-products/compound.html">POLISHING
                                                    COMPOUNDS</a></li>
                                            <li>
                                                <a href="http://taipancanada.com/categories/polishing-products/liquid-polish.html">LIQUID
                                                    POLISH</a></li>
                                            <li>
                                                <a href="http://taipancanada.com/categories/polishing-products/sanding-discs-psa-velcro.html">SANDING
                                                    DISCS - PSA / VELCRO</a></li>
                                            <li>
                                                <a href="http://taipancanada.com/categories/polishing-products/wheel-grease.html">WHEEL
                                                    GREASE</a></li>
                                            <li>
                                                <a href="http://taipancanada.com/categories/polishing-products/cougartron.html">COUGARTRON</a>
                                            </li>
                                            <li>
                                                <a href="http://taipancanada.com/categories/polishing-products/polishing-cleaning-accessories.html">ACCESSORIES</a>
                                            </li>

                                        </ul>
                                    </li>

                                </ul>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<div class="Center">
    <div id="Wrapper">

        <div id="app"></div>

    </div>
</div>
<div class="clear">&nbsp;</div>
</div><!-- end Container -->

<div id="ContainerFooter" class="container footer">
    <div class="Center">
        <div id="FooterUpper">
            <!--<div class="Column"><div class="Block Moveable Panel" id="SideShopByBrand" style="display:none;"></div></div>-->
            <div class="Column">
                <div class="Block CategoryList Panel">
                    <h4>TAIPAN CANADA</h4>
                    <div class="BlockContent">
                        <ul class="sf-menu sf-horizontal sf-js-enabled">
                            <li class=" " style="text-transform:uppercase;">
                                <a href="http://taipancanada.com/pages/about-us.html"><span>ABOUT US</span></a>

                            </li>
                            <li class=" " style="text-transform:uppercase;">
                                <a href="http://taipancanada.com/contact-us/"><span>CONTACT US</span></a>

                            </li>
                            <li class=" " style="text-transform:uppercase;">
                                <a href="http://taipancanada.com/pages/safety.html"><span>GLOBAL</span></a>

                            </li>
                            <li class=" " style="text-transform:uppercase;">
                                <a href="http://taipancanada.com/pages/shipping-returns.html"><span>SHIPPING</span></a>

                            </li>
                            <li class=" " style="text-transform:uppercase;">
                                <a href="http://taipancanada.com/pages/heavy-metal-challenge.html"><span>HEAVY METAL CHALLENGE</span></a>

                            </li>
                            <li class=" " style="text-transform:uppercase;">
                                <a href="http://taipancanada.com/pages/merchandizing.html"><span>MERCHANDISING</span></a>

                            </li>
                            <li class=" " style="text-transform:uppercase;">
                                <a href="http://taipancanada.com/blog/"><span>Taipan Blog</span></a>

                            </li>
                        </ul>
                    </div>
                </div>

            </div>
            <div class="Column">
                <div class="Block CategoryList Panel">
                    <h4>Categories</h4>
                    <div class="BlockContent">
                        <ul class="sf-menu sf-horizontal">
                            <li><a href="http://taipancanada.com/taipan-products/">TAIPAN ABRASIVES</a>
                                <ul>
                                    <li>
                                        <a href="http://taipancanada.com/categories/taipan-abrasive-cutting-tools/cutting-discs.html">CUTTING
                                            DISCS</a></li>
                                    <li><a href="http://taipancanada.com/abrasives-cutting-tools/grinding-discs/">GRINDING
                                            DISCS</a></li>
                                    <li><a href="http://taipancanada.com/taipan-products/flap-discs/">FLAP DISCS</a>
                                    </li>
                                    <li><a href="http://taipancanada.com/taipan-products/wire-brushes/">WIRE BRUSHES</a>
                                    </li>
                                    <li><a href="http://taipancanada.com/taipan-products/saw-wheels/">SAW WHEELS</a>
                                    </li>
                                    <li>
                                        <a href="http://taipancanada.com/categories/abrasive-cutting-tools/flap-wheel.html">FLAP
                                            WHEELS</a></li>
                                    <li><a href="http://taipancanada.com/taipan-products/fibre-discs/">FIBRE DISCS</a>
                                    </li>
                                    <li><a href="http://taipancanada.com/taipan-products/carbide-burrs/">CARBIDE
                                            BURRS</a></li>
                                    <li><a href="http://taipancanada.com/taipan-products/annular-cutters/">ANNULAR
                                            CUTTERS</a></li>
                                    <li>
                                        <a href="http://taipancanada.com/categories/abrasive-cutting-tools/surface-conditioning-non-woven-products.html">SURFACE
                                            CONDITIONING</a></li>
                                    <li>
                                        <a href="http://taipancanada.com/categories/taipan-abrasives/deburring-wheels.html">DEBURRING
                                            WHEELS</a></li>
                                    <li>
                                        <a href="http://taipancanada.com/categories/abrasive-cutting-tools/fibre-discs/quick-change-discs.html">QUICK
                                            CHANGE DISCS</a></li>
                                    <li>
                                        <a href="http://taipancanada.com/categories/abrasive-cutting-tools/grinding-discs/mounted-points.html">MOUNTED
                                            POINTS</a></li>
                                    <li><a href="http://taipancanada.com/taipan-products/drill-bits/">DRILL BITS</a>
                                    </li>
                                    <li>
                                        <a href="http://taipancanada.com/categories/abrasive-cutting-tools/deburring-wheels/non-woven-hand-pads.html">HAND
                                            PADS</a></li>
                                    <li>
                                        <a href="http://taipancanada.com/categories/abrasive-cutting-tools/fibre-discs/accessories.html">ACCESSORIES</a>
                                        <ul>
                                            <li>
                                                <a href="http://taipancanada.com/categories/abrasive-cutting-tools/accessories/mandrels.html">MANDRELS</a>
                                            </li>
                                            <li>
                                                <a href="http://taipancanada.com/categories/abrasive-cutting-tools/accessories/power-tools.html">POWER
                                                    TOOLS</a></li>

                                        </ul>
                                    </li>

                                </ul>
                            </li>
                            <li><a href="http://taipancanada.com/categories/welding-products.html">WELDING
                                    CONSUMABLES</a>
                                <ul>
                                    <li><a href="http://taipancanada.com/categories/welding-products/mig-torches.html">MIG
                                            TORCHES</a>
                                        <ul>
                                            <li>
                                                <a href="http://taipancanada.com/categories/welding-products/mig-torches/bernard-style.html">BERNARD
                                                    STYLE</a></li>
                                            <li>
                                                <a href="http://taipancanada.com/categories/welding-products/mig-torches/parweld-xp8.html">PARWELD
                                                    XP8</a></li>
                                            <li>
                                                <a href="http://taipancanada.com/categories/welding-consumables/mig-torches/tregaskiss-style.html">TREGASKISS
                                                    STYLE</a></li>
                                            <li>
                                                <a href="http://taipancanada.com/categories/welding-products/mig-torches/tweco-style.html">TWECO
                                                    STYLE</a></li>

                                        </ul>
                                    </li>
                                    <li>
                                        <a href="http://taipancanada.com/categories/welding-products/mig-consumables.html">MIG
                                            CONSUMABLES</a>
                                        <ul>
                                            <li>
                                                <a href="http://taipancanada.com/categories/welding-products/mig-consumables/contact-tips.html">CONTACT
                                                    TIPS</a>
                                                <ul>
                                                    <li>
                                                        <a href="http://taipancanada.com/categories/welding-products/mig-consumables/contact-tips/bernard.html">BERNARD</a>
                                                    </li>
                                                    <li>
                                                        <a href="http://taipancanada.com/categories/welding-products/mig-consumables/contact-tips/miller.html">MILLER</a>
                                                    </li>
                                                    <li>
                                                        <a href="http://taipancanada.com/categories/welding-products/mig-consumables/contact-tips/tregaskiss.html">TREGASKISS</a>
                                                    </li>
                                                    <li>
                                                        <a href="http://taipancanada.com/categories/welding-products/mig-consumables/contact-tips/tweco.html">TWECO</a>
                                                    </li>

                                                </ul>
                                            </li>
                                            <li>
                                                <a href="http://taipancanada.com/categories/welding-consumables/mig-consumables/diffusers-retaining-heads.html">DIFFUSERS
                                                    / RETAINING HEADS</a></li>
                                            <li>
                                                <a href="http://taipancanada.com/categories/welding-products/mig-consumables/liners.html">LINERS</a>
                                                <ul>
                                                    <li>
                                                        <a href="http://taipancanada.com/categories/welding-products/mig-consumables/liners/bernard.html">BERNARD</a>
                                                    </li>
                                                    <li>
                                                        <a href="http://taipancanada.com/categories/welding-products/mig-consumables/liners/tregaskiss.html">TREGASKISS</a>
                                                    </li>
                                                    <li>
                                                        <a href="http://taipancanada.com/categories/welding-products/mig-consumables/liners/tweco.html">TWECO</a>
                                                    </li>

                                                </ul>
                                            </li>
                                            <li>
                                                <a href="http://taipancanada.com/categories/welding-products/mig-consumables/nozzles.html">NOZZLES</a>
                                                <ul>
                                                    <li>
                                                        <a href="http://taipancanada.com/categories/welding-products/mig-consumables/nozzles/bernard.html">BERNARD</a>
                                                    </li>
                                                    <li>
                                                        <a href="http://taipancanada.com/categories/welding-products/mig-consumables/nozzles/tregaskiss-nozzles.html">TREGASKISS</a>
                                                    </li>
                                                    <li>
                                                        <a href="http://taipancanada.com/categories/welding-products/mig-consumables/nozzles/tweco.html">TWECO</a>
                                                    </li>

                                                </ul>
                                            </li>
                                            <li>
                                                <a href="http://taipancanada.com/categories/welding-products/mig-consumables/power-cable.html">POWER
                                                    CABLE</a>
                                                <ul>
                                                    <li>
                                                        <a href="http://taipancanada.com/categories/welding-products/mig-consumables/power-cable/bernard.html">BERNARD</a>
                                                    </li>
                                                    <li>
                                                        <a href="http://taipancanada.com/categories/welding-products/mig-consumables/power-cable/tregaskiss.html">TREGASKISS</a>
                                                    </li>
                                                    <li>
                                                        <a href="http://taipancanada.com/categories/welding-products/mig-consumables/power-cable/tweco.html">TWECO</a>
                                                    </li>

                                                </ul>
                                            </li>

                                        </ul>
                                    </li>
                                    <li>
                                        <a href="http://taipancanada.com/categories/welding-products/mig-accessories.html">MIG
                                            ACCESSORIES</a>
                                        <ul>
                                            <li>
                                                <a href="http://taipancanada.com/categories/welding-products/mig-accessories/bernard.html">BERNARD</a>
                                            </li>
                                            <li>
                                                <a href="http://taipancanada.com/categories/welding-products/mig-accessories/tregaskiss.html">TREGASKISS</a>
                                            </li>
                                            <li>
                                                <a href="http://taipancanada.com/categories/welding-products/mig-accessories/tweco.html">TWECO</a>
                                            </li>

                                        </ul>
                                    </li>
                                    <li><a href="http://taipancanada.com/categories/welding-products/tig-torches.html">TIG
                                            TORCHES</a>
                                        <ul>
                                            <li>
                                                <a href="http://taipancanada.com/categories/welding-products/tig-torches/tig-torch-head-body.html">TIG
                                                    TORCH HEAD / BODY</a></li>

                                        </ul>
                                    </li>
                                    <li><a href="http://taipancanada.com/categories/tig-consumables.html">TIG
                                            CONSUMABLES</a></li>
                                    <li>
                                        <a href="http://taipancanada.com/categories/welding-products/tig-accessories.html">TIG
                                            ACCESSORIES</a></li>
                                    <li>
                                        <a href="http://taipancanada.com/categories/welding-products/gas-hose-accessories.html">GAS
                                            HOSE / ACCESSORIES</a></li>
                                    <li>
                                        <a href="http://taipancanada.com/categories/all-products/gas-welding-cutting-tips.html">GAS
                                            WELDING</a>
                                        <ul>
                                            <li>
                                                <a href="http://taipancanada.com/categories/welding-products/gas-welding-cutting-tips/welding-nozzle.html">NOZZLES</a>
                                            </li>

                                        </ul>
                                    </li>
                                    <li>
                                        <a href="http://taipancanada.com/categories/welding-products/quick-connects-flashback-arrestors.html">QUICK
                                            CONNECTS</a></li>
                                    <li><a href="http://taipancanada.com/categories/welding-products/regulators.html">REGULATORS</a>
                                    </li>
                                    <li>
                                        <a href="http://taipancanada.com/categories/welding-products/plasma-consumables.html">PLASMA
                                            CONSUMABLES</a></li>
                                    <li>
                                        <a href="http://taipancanada.com/categories/welding-consumables/wire-electrode.html">WIRE
                                            / ELECTRODE</a></li>
                                    <li><a href="http://taipancanada.com/categories/welding-tools-accessories.html">TOOLS
                                            / ACCESSORIES</a>
                                        <ul>
                                            <li>
                                                <a href="http://taipancanada.com/categories/welding-products/welding-tools-accessories/flint-strikers.html">FLINT
                                                    STRIKERS</a></li>
                                            <li>
                                                <a href="http://taipancanada.com/categories/welding-products/welding-supplies-and-consumables/ground-clamps.html">GROUND
                                                    CLAMPS</a></li>
                                            <li>
                                                <a href="http://taipancanada.com/categories/welding-products/welding-tools-accessories/hammers.html">HAMMERS</a>
                                            </li>
                                            <li>
                                                <a href="http://taipancanada.com/categories/welding-products/welding-tools-accessories/mig-pliers.html">MIG
                                                    PLIERS</a></li>
                                            <li>
                                                <a href="http://taipancanada.com/categories/welding-products/welding-tools-accessories/soap-stone.html">SOAP
                                                    STONE</a></li>
                                            <li>
                                                <a href="http://taipancanada.com/categories/welding-products/welding-supplies-and-consumables/electrode-holders.html">ELECTRODE
                                                    HOLDERS</a></li>
                                            <li>
                                                <a href="http://taipancanada.com/categories/welding-products/welding-supplies-and-consumables/cable-connectors.html">CABLE
                                                    CONNECTORS</a></li>
                                            <li>
                                                <a href="http://taipancanada.com/categories/welding-products/welding-supplies-and-consumables/accessories.html">ACCESSORIES</a>
                                            </li>

                                        </ul>
                                    </li>
                                    <li>
                                        <a href="http://taipancanada.com/categories/welding-products/welding-cable-accessories.html">CABLE
                                            / ACCESSORIES</a>
                                        <ul>
                                            <li>
                                                <a href="http://taipancanada.com/categories/welding-products/welding-supplies-and-consumables/cable-lugs.html">CABLE
                                                    LUGS</a></li>

                                        </ul>
                                    </li>
                                    <li><a href="http://taipancanada.com/categories/electrode-carbons.html">GOUGING
                                            CARBONS</a></li>
                                    <li><a href="http://taipancanada.com/categories/welding-products/chemicals.html">CHEMICALS</a>
                                    </li>

                                </ul>
                            </li>
                            <li><a href="http://taipancanada.com/categories/welding-safety.html">WELDING SAFETY</a>
                                <ul>
                                    <li><a href="http://taipancanada.com/categories/aprons-spats.html">APRONS /
                                            SPATS</a></li>
                                    <li><a href="http://taipancanada.com/categories/welding-safety/hoods.html">HOODS</a>
                                    </li>
                                    <li><a href="http://taipancanada.com/categories/helmets.html">HELMETS</a></li>
                                    <li><a href="http://taipancanada.com/categories/glasses.html">EYE PROTECTION</a>
                                    </li>
                                    <li><a href="http://taipancanada.com/categories/screens-curtains.html">SCREENS /
                                            CURTAINS</a></li>
                                    <li><a href="http://taipancanada.com/categories/lenses.html">LENSES</a></li>
                                    <li><a href="http://taipancanada.com/categories/gloves.html">GLOVES</a></li>
                                    <li>
                                        <a href="http://taipancanada.com/categories/welding-safety/welding-jackets.html">WELDING
                                            JACKETS</a></li>

                                </ul>
                            </li>
                            <li><a href="http://taipancanada.com/categories/polishing-products.html">POLISHING
                                    PRODUCTS</a>
                                <ul>
                                    <li>
                                        <a href="http://taipancanada.com/categories/polishing-products/airway-buffing-wheels.html">BUFFING
                                            WHEELS - AIRWAY</a></li>
                                    <li>
                                        <a href="http://taipancanada.com/categories/polishing-products/loose-buffing-wheel.html">BUFFING
                                            WHEELS - LOOSE</a></li>
                                    <li>
                                        <a href="http://taipancanada.com/categories/polishing-products/sewn-buffing-wheels.html">BUFFING
                                            WHEELS - SEWN</a></li>
                                    <li>
                                        <a href="http://taipancanada.com/categories/polishing-products/buffing-wheels-sisal.html">BUFFING
                                            WHEELS - SISAL</a></li>
                                    <li><a href="http://taipancanada.com/categories/polishing-products/compound.html">POLISHING
                                            COMPOUNDS</a></li>
                                    <li>
                                        <a href="http://taipancanada.com/categories/polishing-products/liquid-polish.html">LIQUID
                                            POLISH</a></li>
                                    <li>
                                        <a href="http://taipancanada.com/categories/polishing-products/sanding-discs-psa-velcro.html">SANDING
                                            DISCS - PSA / VELCRO</a></li>
                                    <li>
                                        <a href="http://taipancanada.com/categories/polishing-products/wheel-grease.html">WHEEL
                                            GREASE</a></li>
                                    <li><a href="http://taipancanada.com/categories/polishing-products/cougartron.html">COUGARTRON</a>
                                    </li>
                                    <li>
                                        <a href="http://taipancanada.com/categories/polishing-products/polishing-cleaning-accessories.html">ACCESSORIES</a>
                                    </li>

                                </ul>
                            </li>

                        </ul>

                        <strong class="afterSideCategoryList"><a href="/categories/">View all categories</a></strong>
                    </div>
                </div>
            </div>
            <div class="Column">
                <div class="Block RecentNews Moveable Panel" id="HomeRecentBlogs">
                    <h4>TAIPAN BLOG <!--Recent Updates--></h4>
                    <div class="BlockContent">
                        <ul>
                            <li>
                                <a href="http://taipancanada.com/blog/stafda-40th-annual-convention-trade-show/"><strong>STAFDA
                                        40th ANNUAL CONVENTION &amp; TRADE SHOW</strong></a>
                                <p>Taipan Canada is now a certified member of the Specialty
                                    Tools &amp; Fasteners &hellip;</p>
                            </li>
                            <li>
                                <a href="http://taipancanada.com/blog/visit-us-at-canweld-expo-2016/"><strong>VISIT US
                                        AT CANWELD EXPO 2016!</strong></a>
                                <p>Were looking forward to meeting you at the CanWeld Expo next week. We'll
                                    be &hellip;</p>
                            </li>
                            <li>
                                <a href="http://taipancanada.com/blog/10-discount-with-online-orders/"><strong>10%
                                        DISCOUNT WITH ONLINE ORDERS!</strong></a>
                                <p>All orders over $1000 placed online will receive an automatic 10% &hellip;</p>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
            <div class="Column">
                <div id="socnet" class="Block SocialConnect Moveable Panel">
                    <h4>Connect with us</h4>
                    <ul>
                        <li class="li-twitter"><a href="https://twitter.com/TaipanCanada" target="_blank"
                                                  class="icon icon-social icon-social-theme icon-twitter"
                                                  title="Twitter">Twitter</a></li>
                        <li class="li-facebook"><a href="https://www.facebook.com/TheBrandWithBite/" target="_blank"
                                                   class="icon icon-social icon-social-theme icon-facebook"
                                                   title="Facebook">Facebook</a></li>
                        <li class="li-linkedin"><a
                                    href="https://www.linkedin.com/company/3616911?trk=tyah&trkInfo=clickedVertical%3Acompany%2CentityType%3AentityHistoryName%2CclickedEntityId%3Acompany_3616911%2Cidx%3A3"
                                    target="_blank" class="icon icon-social icon-social-theme icon-linkedin"
                                    title="LinkedIn">LinkedIn</a></li>
                        <li class="li-youtube"><a href="https://www.youtube.com/channel/UCBR3BDZDglTKhaHmSETHe7g"
                                                  target="_blank"
                                                  class="icon icon-social icon-social-theme icon-youtube"
                                                  title="YouTube">YouTube</a></li>

                    </ul>
                </div>
            </div>
            <div class="Column NewsletterColumn">
                <div class="Block NewsletterSubscription Moveable Panel" id="SideNewsletterBox">

                    <h4>Newsletter</h4>

                    <div class="BlockContent">
                        <form action="http://taipancanada.com/subscribe.php" method="post" id="subscribe_form"
                              name="subscribe_form">
                            <input type="hidden" name="action" value="subscribe"/>
                            <ul>
                                <li class="inputForm">
                                    <label for="nl_first_name">Name</label>
                                    <input class="Textbox autobox" value="Name" id="nl_first_name" name="nl_first_name"
                                           type="text"/>
                                </li>
                                <li class="inputForm">
                                    <label for="nl_email">Email</label>
                                    <input class="Textbox autobox" value="Email" id="nl_email" name="nl_email"
                                           type="text"/>
                                </li>
                                <li>

                                    <input value="Submit" class="btn alt" type="submit"/>

                                </li>
                            </ul>
                        </form>
                    </div>
                </div>

            </div>
        </div>
        <div id="Footer">

            <p style="width:100%;"><span> <a href="https://www.cwa-acs.org/" target="_blank"
                                             style="border-bottom:none !important;"> <img
                                src="http://cdn6.bigcommerce.com/s-2e83t/templates/__custom/images/theme/CWA.PNG?t=1479224041"
                                style="height:60px; padding:4px;"></a><a href="https://www.stafda.org/" target="_blank"
                                                                         style="border-bottom:none !important;"><img
                                src="http://cdn6.bigcommerce.com/s-2e83t/templates/__custom/images/theme/STAFDA.JPG?t=1479224041"
                                style="height:46px; padding:4px;"></a></span><br><span id="currencyPrices">All prices are in <span
                            title='Canadian Dollars'>CAD</span>.</span> &copy; 2016 Taipan Canada.
                <a href="http://taipancanada.com/sitemap/"><span>Sitemap</span></a> |</p>

        </div>
    </div>
    <br class="Clear"/>
</div>
<div style="display: none;"></div>


<script type="text/javascript"
        src="http://cdn5.bigcommerce.com/r-70b9363cf5fad9b5c159273d431ac673ea2b8712/javascript/superfish/js/jquery.bgiframe.min.js"></script>
<script type="text/javascript"
        src="http://cdn5.bigcommerce.com/r-70b9363cf5fad9b5c159273d431ac673ea2b8712/javascript/superfish/js/superfish.js"></script>
<script type="text/javascript">
    $(function () {
        if (typeof $.fn.superfish == "function") {
            $("ul.sf-menu").superfish({
                delay: 600,
                dropShadows: false,
                speed: "fast"
            })
                    .find("ul")
                    .bgIframe();
        }
    })
</script>


<script type="text/javascript">
    $(document).ready(function () {
        // attach fast cart event to all 'add to cart' link
        $(".ProductActionAdd a[href*='cart.php?action=add']").click(function (event) {
            fastCartAction($(this).attr('href'));
            return false;
        });
    });
</script>


</div>
</body>
</html>